version: '3.8'

services: 
  reverse:
    image: nginx:1.21.0-alpine
    volumes:
      - ${PWD}/config:/etc/nginx

  home-page:
    image: nginx:1.21.0-alpine
    volumes: 
      - ${PWD}/html:/usr/share/nginx/html

  strapi-blog:
    build: https://github.com/riuGlobal/strapi-blog.git
    volumes:
      - ${PWD}/strapi-data:/strapi-data

  strapi-blog-web:
    depends_on:
      - strapi-blog
    build: https://github.com/riuGlobal/strapi-blog-web.git
    environment:
      - NEXT_PUBLIC_STRAPI_API_URL

  db-pg:
    image: postgres:13-alpine
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
    volumes:
      - ${PWD}/pg-data:/var/lib/postgresql/data

  bank: 
    build: https://github.com/riuGlobal/bank-server.git#${BANK_VERSION:-master}
    env_file: 
      - .env

  bank-web:
    depends_on:
      - bank
    build: https://github.com/riuGlobal/bank-client.git#${BANK_WEB_VERSION:-master}
    volumes:
      - ${PWD}/.env:/bank-web/.env

  training:
        build: https://riuGlobal:${REPO}@github.com/riuGlobal/training.git#${BRANCH}
        environment:
            - NODE_ENV_FILE=${TRAINING_ENV_FILE}
            - TYPEORM_HOST=${DB_HOST}
            - TYPEORM_PORT=${DB_PORT}
            - TYPEORM_USERNAME=${DB_USER}
            - TYPEORM_PASSWORD=${DB_PASSWORD}
            - TYPEORM_DATABASE=${DB_DATABASE}
            - TYPEORM_SCHEMA=${TRAINING_SCHEMA}
            - TYPEORM_SYNCHRONIZE

