version: '3.8'

services: 
  reverse:
    image: nginx:1.21.0-alpine
    volumes:
      - ${PWD}/config:/etc/nginx

  home-page:
    image: nginx:1.21.0-alpine
    volumes: 
      - ${PWD}/html:/usr/share/nginx/html

  strapi-blog:
    build: https://github.com/riuGlobal/strapi-blog.git
    volumes:
      - ${PWD}/strapi-data:/strapi-data

  strapi-blog-web:
    depends_on:
      - strapi-blog
    build: https://github.com/riuGlobal/strapi-blog-web.git
    environment:
      - NEXT_PUBLIC_STRAPI_API_URL
  
  bank: 
    build: https://github.com/riuGlobal/bank-server.git#${BANK_VERSION:-master}
    env_file: 
      - .env

  bank-web:
    depends_on:
      - bank
    build: https://github.com/riuGlobal/bank-client.git#${BANK_WEB_VERSION:-master}
    volumes:
      - ${PWD}/.env:/bank-web/.env

    


